body{
	padding:0;
	margin:0;
	background:#fff;
	position:relative;
	font-family: 'Raleway', sans-serif;
    color: chocolate;
    background-image: url(media/pickup%20truck.jpg);
}
.thumbnail{
    max-height: 300px;
}